body {
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
    background-color: var(--white-text-color);  
    font-size: 14px;  
    letter-spacing: 0.03em;
  }

.section__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
 }
   
 
 .title--hidden {position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;}