%item-width {
   
        width: 450px;
    
    @media screen  and (min-width: $tablet){
        width:354px;
    }
    @media screen and (min-width:$desktop){
        width: 270px;
    }
}

%padding {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width:1200px){
        padding-top: 94px;
        padding-bottom: 94px;
    }
}