:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --btn-bgc: #f5f4fa;
  --primary-pt: 94px;
  --hover-anime: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  display: flex;
  max-width: 100%;
  height: auto;
}

$mobile:480px;
$tablet:768px;
$desktop:1200px;
